### print() function

### Comments

In [1]:
# First Program
print("Acropolis")

Acropolis

In [2]:
print("Acropolis")

Acropolis

### Variables

In [3]:
# In Python there is no need to mention the data type

var1 = 20      # An integer assignment
var2 = 4.123   # A floating point
var3 = "India" # A string

print(var1,' ',var2,' ',var3)

20   4.123   India

In [4]:
var1=20
var2=4.123
var3="india"
print(var1,var2,var3)

20 4.123 india

### Assignment

In [5]:
# general syntax
#variable-name=value

# Assigning same value to multiple variables

var1 = var2 = var3 = 1
print(var1,' ',var2,' ',var3)

# Assigning Different values to variable in a single expression

var1, var2, var3 = 1, 2.5, "Rohit"
print(var1,' ',var2,' ',var3)

# Note: commas can be used for multi-assignments

1   1   1
1   2.5   Rohit

In [6]:
v1=v2=v3=1
print(v1,v2,v3)
v1,v2,v3=1,2,'vf'
print(v1,v2,v3)

1 1 1
1 2 vf

### Taking input

In [7]:
firstname = input("Enter your first name: ")
lastname = input("Enter your second name: ")
semester = input("Enter your semester: ")

Enter your first name: abc
Enter your second name: def
Enter your semester: ghi

In [8]:
# run below code
age = input("Enter your age: ")
age = int(age)+5
print(age)

Enter your age: 19
24

### Write a program in Python for data type conversion from: 
- int to string
- int to float
- string to int
- string to float
- float to int
- float to string

In [9]:
a=10
print(str(a))
print(float(a))

b='20'
print(int(b))
print(float(b))

c=23.56
print(int(c))
print(str(c))

10
10.0
20
20.0
23
23.56

### Task1: 
#### WAP to display your infomation like (full name, branch, university name, age, 12th %, hobbies). Store each value into some meaningful variable.  the ouptput of the program should look like

In [10]:

fullname = input("Enter your full name: ")
branch = input("Enter your branch: ")
university = input("Enter your university: ")
age = input("Enter your age: ")
twelthper = input("Enter your 12%: ")
hobbies = input("Enter your hobbies: ")
print(fullname)
print(branch)
print(university)
print(age)
print(twelthper)
print(hobbies)

Enter your full name: prajakta dixit
Enter your branch: cs
Enter your university: rgpv
Enter your age: 19
Enter your 12%: 70
Enter your hobbies: dance
prajakta dixit
cs
rgpv
19
70
dance

In [13]:

fullname = input("Enter your full name: ")
branch = input("Enter your branch: ")
university = input("Enter your university: ")
age = input("Enter your age: ")
twelthper = input("Enter your 12%: ")
hobbies = input("Enter your hobbies: ")
print(fullname)
print(branch)
print(university)
print(age)
print(twelthper)
print(hobbies)

Enter your full name: abc
Enter your branch: cs
Enter your university: rgpv
Enter your age: 19
Enter your 12%: 354
Enter your hobbies: dance
abc
cs
rgpv
19
354
dance

### Commmonly used functions 
- round(n)
- format(n, '0.2f')
- format(n,',') # put a comma on thousand place
- format(n,'b') # print binary of the number, 'o', 'x'

- eval(expression)
- chr(n)
- ord(character)
- bin(n), oct(n), hex(n)

- #### function on string/character data
- isdigit()
- isalpha()
- isspace()
- numeric()
- ljust(width)
- rjust(width)
- cjust(width)

In [11]:
# Python3 program to demonstarte 
# the str.format() method 
  
# using format option in a simple string 
print ("{}, A computer science portal for acropolis."
                        .format("acropolis")) 
  
# using format option for a 
# value stored in a variable 
str = "This article is written in {}"
print (str.format("Python")) 
  
# formatting a string using a numeric constant 
print ("Hello, I am {} years old !".format(20))

acropolis, A computer science portal for acropolis.
This article is written in Python
Hello, I am 20 years old !

In [14]:
print("{},this is sample.".format("hello!"))
str="this is an article in {}"
print(str.format("python"))

hello!,this is sample.
this is an article in python

In [12]:
# Characters and their ASCII value

x=68
# print character corresponding to x 
print(chr(x))
char='D'
# print number corresponding to char
print(ord(char))

D
68

In [15]:
x=68
print(chr(x))
char='D'
print(ord(char))

D
68

In [16]:
# write code to print your name 10 times
print('ACROPOLIS'*10)

ACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLIS

In [18]:
print('ACROPOLIS\n'*10)

ACROPOLIS
ACROPOLIS
ACROPOLIS
ACROPOLIS
ACROPOLIS
ACROPOLIS
ACROPOLIS
ACROPOLIS
ACROPOLIS
ACROPOLIS

In [0]:
for i in range(5):
    print("*"*i)

# new pattern program
print("\n")
for i in range(4,0,-1):
  print("*"*i)

*
**
***
****


****
***
**
*

####
###
##
#
*


####
###
##
#
**


####
###
##
#
***


####
###
##
#
****


####
###
##
#

In [24]:
for i in range(5):
    print("#"*i)
print("\n")
for i in range(4,0,-1):
  print("#"*i)

#
##
###
####


####
###
##
#

In [0]:
for i in range(1,6):
  print(" "*(6-i),"*"*i)

      *
     **
    ***
   ****
  *****

In [26]:
for i in range(1,6):
  print(" "*(6-i),"#"*i)

      #
     ##
    ###
   ####
  #####

In [0]:
# use seperator and end with specific symbol
a, b, c = 10, 20, 30
print(a,b,c,sep=':',end=',')

10:20:30,

In [0]:
for i in range(1,5):
    print(" "*(5-i),"*"*i)

     *
    **
   ***
  ****

In [0]:
# unpack characters
word = 'PYTHON'
a,b,c,d,e,f = word
print(a,b,c,d,e,f)

P Y T H O N

In [28]:
word='hello'
a,b,c,d,e=word
print(a,b,c,d,e)

h e l l o

### Format output

In [0]:
x = 5 
y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [31]:
x = 5 
y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [29]:
x = 5 
y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [30]:
print('I like {0} and {1}'.format('ice cream','chocolate'))

I like ice cream and chocolate

In [32]:
print('I like {0} and {1}'.format('ice cream','chocolate'))

I like ice cream and chocolate

In [0]:
print('I like {1} and {0}'.format('ice cream','chocolate'))

I like chocolate and ice cream

In [0]:
print('Hello {name}, {greeting}'.format(greeting = 'Good morning', name = 'Sachin !'))

Hello Sachin !, Good morning

### Task2
#### Raman likes tea but he has coffee. Riya likes coffee but has tea. Write a program in python so that both can enjoy what they like.

In [0]:
# write your code after this line
raman='coffee'
riya='tea'
temp=raman
raman=riya
riya=temp
print("raman :{}".format(raman))
print("riya :{}".format(riya))

raman :tea
riya :coffee

In [34]:
aman='coffee'
riya='tea'
temp=raman
raman=riya
riya=temp
print("raman :{}".format(raman))
print("riya :{}".format(riya))

raman :tea
riya :tea

### Task3
Write a program for following
- Input: 'Python'
- Output: 642

In [0]:
e,f,g,h,i,j='Python'
s=ord(e)+ord(f)+ord(g)+ord(h)+ord(i)+ord(j)
print(s)

642

In [35]:
e,f,g,h,i,j='Python'
s=ord(e)+ord(f)+ord(g)+ord(h)+ord(i)+ord(j)
print(s)

642

# Working with math, calendar, random, datetime

In [0]:
import math
print(math.sqrt(9))
print(math.floor(10.8))
print (math.ceil(10.5))
math.pi

3.0
10
11

3.141592653589793

In [38]:
import math
print(math.sqrt(9))
print(math.floor(1.8))
print (math.ceil(1.5))
math.pi

3.0
1
2

3.141592653589793

In [0]:
import random
x = random.random() # generate any random number between 0 and 1
print("x = ", x)

y = random.randint(5,20)# generate any random number between 5 and 20
print("y = ", y)

x =  0.5596432252409571
y =  16

In [41]:
import random
x = random.random()
print("x = ", x)

y = random.randint(5,10)
print("y = ", y)

x =  0.5225098836670389
y =  6

In [0]:
import datetime

date = datetime.datetime.now().date() # YYYY-MM-DD format
year = datetime.datetime.now().year
month = datetime.datetime.now().month
day = datetime.datetime.now().day

print(date)
print(year)
print(month)
print(day)

2020-01-07
2020
1
7

In [42]:
import datetime

date = datetime.datetime.now().date()
year = datetime.datetime.now().year
month = datetime.datetime.now().month
day = datetime.datetime.now().day

print(date)
print(year)
print(month)
print(day)

2020-01-08
2020
1
8

In [0]:
import calendar

year = int(input("Enter Year : "))
month = int(input("Enter the Month : "))

print(calendar.month(year, month))

Enter Year : 2020
Enter the Month : 11
   November 2020
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [43]:
import calendar

year = int(input("Enter Year : "))
month = int(input("Enter the Month : "))

print(calendar.month(year, month))

Enter Year : 2012
Enter the Month : 3
     March 2012
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

### Task 4
#### WAP to justify the value of a number (right, left, center) in 20 chars with one digit accuracy. Use format() to print value of variable z (float) right justify in 30 chars with 3 digit accuracy.

In [0]:
x=15246.59
y=14.156
print(format(x,'>20.1f'))
print(format(y,'>20.1f'))
print("\n")

print(format(x,'<20.1f'))
print(format(y,'<20.1f'))
print("\n")

print(format(x,'^20.1f'))
print(format(y,'^20.1f'))
print("\n")

z=20.745124
print(format(z, '>30.3f'))

             15246.6
                14.2


15246.6
14.2


      15246.6
        14.2


                        20.745